<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
    <li>
      <div id="reputation-ra"><script type="text/javascript" id="ra-embed-reputation" src="https://s3.amazonaws.com/raichu-beta/selos/bundle.js" data-id="QlFHMV9KWmY4U0tlcFVPVDp0ZWMtdmlydHVhbA==" data-target="reputation-ra" data-model="1"></script></div> 
    </li>
    <% opt.stamps.forEach(({ src, alt, link }) => { %>
      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <img data-src="<%= src %>" alt="<%= alt %>" class="lozad fade" data-preload>
          </a>
        </li>
      <% } else { %>
        <li>
          <img data-src="<%= src %>" alt="<%= alt %>" class="lozad fade" data-preload>
        </li>
      <% } %>
    <% }) %>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
  </ul>
<% } %>
